/* Reset some default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #f8f9fa;
    color: #343a40;
}

/* Navigation Bar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    padding: 15px 30px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.logo {
    color: #ffffff;
    font-size: 50px;
    font-weight: bold;
}

.nav-links {
    list-style: none;
    display: flex;
}

.nav-links li {
    margin-left: 20px;
}

.nav-links a {
    color: #ffffff;
    text-decoration: none;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #ffc107;
}

.about {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.about h2 {
    text-align: center;
    margin-bottom: 20px;
}

.about h3 {
    margin-top: 20px;
}

.about p {
    margin-bottom: 15px;
}

.about ul {
    margin-top: 10px;
    padding-left: 20px;
}

footer {
    background-color: gray;
    color: yellow;
    text-align: center;
    padding: 0.5px;
    position: fixed;
    width: 100%;
    bottom: 0;
}


